<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mad Libs</title>
    

    <link rel="stylesheet" href="./../wwwroot/css/styles.css">
  </head>
  <body>
    @RenderBody()
  </body>
</html>